<head>
    <link rel="stylesheet" href="~/css/Styles.css" />
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <img class="profile-picture" src="https://via.placeholder.com/150" alt="Profile Picture">
            <div class="profile-info">
                <h1 class="username">username</h1>
                <p class="bio">Bio goes here.</p>
                <div class="stats">
                    <div class="stat">
                        <p class="label">Posts</p>
                        <p class="value">123</p>
                    </div>
                    <div class="stat">
                        <p class="label">Followers</p>
                        <p class="value">456</p>
                    </div>
                    <div class="stat">
                        <p class="label">Following</p>
                        <p class="value">789</p>
                    </div>
                </div>
            </div>
        </div>

       
        <div class="post">
            <img src="https://via.placeholder.com/800x600" alt="Post Image">
        </div>



    </div>
</body>

