@model StudioSintoniaPreview.Models.Comentario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostModel.PostModelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComentarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
