<br />
    <div>
        <h1>Relatórios</h1>
        <div class="analyse">
            <div class="sales">
                <div class="status">
                    <div class="info">
                    <h3>Vendas Totais</h3>
                    <h1>0</h1>
                    </div>
        <div class="progress">
        <svg>
            <circle cx="38" cy="38" r="36"></circle>
        </svg>
            <div class="percentage">
            <p>0%</p>
            </div>
        </div>
                </div>
            </div>
        <div class="views">
            <div class="status">
                <div class="info">
                <h3>Views Totais</h3>
                <h1>0</h1>
                </div>
        <div class="progress">
        <svg>
            <circle cx="38" cy="38" r="36"></circle>
        </svg>
        <div class="percentage">
            <p>0%</p>
        </div>
        </div>
            </div>
        </div>
        </div>

