<br />
<section class="table-responsive">
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total de Curtidas</td>
                <td id="total-curtidas">6</td>
            </tr>
            <tr>
                <td>Total de Posts</td>
                <td id="total-posts">6</td>
            </tr>
        </tbody>
    </table>
</section>
