<header>
    <div class id="flex-container container1">
        <br />
        <div>
        <h1>Seja bem-vindo ao Studio Sintonia</h1>
        <h2>Aqui você encontra os melhores beats.</h2>
    </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <br />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>
    </div>
</header>
    <br />
    <br />
    <h2>Lançamentos</h2>
    <br />
    <div class="player" class="flex-container">

        <div class="logo">
            <i class='bx bx-music'></i>
        </div>

        <span id="musicName"></span>

        <audio id="player" src=""></audio>
        <div class="controls">
            <button id="prevButton"><i class='bx bx-skip-previous'></i></button>
            <button id="playPauseButton"><i class='bx bx-caret-right'></i></button>
            <button id="nextButton"><i class='bx bx-skip-next'></i></button>
        </div>
        <div class="footer">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <div class="time">
                <span id="currentTime">0:00</span>
                <span id="duration">0:00</span>
            </div>
        </div>
    </div>
    <br />
    <h2>Capas de album</h2>
<div class="Capa">

    <div>
    <span id="NomeCapa"></span>

    <img id="ImagemCapa" src=""></img>
    </div>
</div>
<br />
<h2>Beats</h2>
<div class="player">

    <div class="logo">
        <i class='bx bx-music'></i>
    </div>

    <span id="musicName"></span>

    <audio id="player" src=""></audio>
    <div class="controls">
        <button id="prevButton"><i class='bx bx-skip-previous'></i></button>
        <button id="playPauseButton"><i class='bx bx-caret-right'></i></button>
        <button id="nextButton"><i class='bx bx-skip-next'></i></button>
    </div>
    <div class="footer">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <div class="time">
            <span id="currentTime">0:00</span>
            <span id="duration">0:00</span>
        </div>
    </div>
</div>
<script type="module" src="~/js/Script.js"></script>

