<br />
<h2>Curtidas</h2>
    <br />
<div class="flex-container">
    <div class="player">

        <div class="logo">
            <i class='bx bx-music'></i>
        </div>

        <span id="musicName"></span>

        <audio id="player" src=""></audio>
        <div class="controls">
            <button id="playPauseButton"><i class='bx bx-caret-right'></i></button>
        </div>
        <div class="footer">
            <div class="progress-bar">
                <div class="progress"></div>
            </div>
            <div class="time">
                <span id="currentTime">0:00</span>
                <span id="duration">0:00</span>
            </div>
        </div>
    </div>
    <br />
<div class="Capa">

    <div>
        <span id="NomeCapa"></span>

        <img id="ImagemCapa" src=""></img>
    </div>
</div>
    <div class="Capa">

        <div>
            <span id="NomeCapa"></span>

            <img id="ImagemCapa" src=""></img>
        </div>
    </div>
    <div class="Capa">

        <div>
            <span id="NomeCapa"></span>

            <img id="ImagemCapa" src=""></img>
        </div>
    </div>
    <div class="Capa">

        <div>
            <span id="NomeCapa"></span>

            <img id="ImagemCapa" src=""></img>
        </div>
    </div>
</div>


    <script type="module" src="~/js/Script.js"></script>

