<div class="container">
    <h2>Curtidas</h2>
    <div class="flex-container">
        <div class="Capa">
            <div>
                <span class="NomeCapa">Nome da Capa</span>
                <img class="ImagemCapa" src="caminho_da_imagem.jpg" alt="Capa do Álbum 1">
            </div>
        </div>
        <div class="Capa">
            <div>
                <span class="NomeCapa">Nome da Capa</span>
                <img class="ImagemCapa" src="caminho_da_imagem.jpg" alt="Capa do Álbum 2">
            </div>
        </div>
        <div class="Capa">
            <div>
                <span class="NomeCapa">Nome da Capa</span>
                <img class="ImagemCapa" src="caminho_da_imagem.jpg" alt="Capa do Álbum 3">
            </div>
        </div>
        <div class="Capa">
            <div>
                <span class="NomeCapa">Nome da Capa</span>
                <img class="ImagemCapa" src="caminho_da_imagem.jpg" alt="Capa do Álbum 4">
            </div>
        </div>
    </div>
</div>
