@model IEnumerable<StudioSintoniaPreview.Models.PostModel>


<div class="container d-flex flex-column align-items-center">

    <br />
    <figure class="profile-card">
        <div class="profile-header">
            <img src="uploads/capa-perfil.png" alt="Capa Perfil">
        </div>

        <div class="profile-body">

            <div class="img-perfil">
                <img src="https://i.pinimg.com/564x/a7/13/01/a71301bf8fedea65a87068641c3658f9.jpg">
            </div>

            <p>@User.Identity.Name</p>
            <figcaption class="descricao">

                <p>
                    <b>Compositor, Artista</b><br>
                </p>

            </figcaption>

            <div class="redes-sociais">

                <ul>

                    <li><a href="#" title="Facebook"> <i class="icon icon-facebook"></i> </a></li>
                    <li><a href="#" title="Instagram"> <i class="icon icon-instagram"></i> </a></li>
                    <li><a href="#" title="Twitter"> <i class="icon icon-twitter"></i> </a></li>
                    <li><a href="#" title="Pinterest"> <i class="icon icon-pinterest"></i> </a></li>

                </ul>
                <br />
                <!-- Botão para abrir o modal -->
                <button type="button" onclick="abrirModal()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Adicionar Post
                </button>
            </div>
        </div>
    </figure>

    <script>
        function abrirModal() {
            // Verificar se as bibliotecas já estão carregadas
            if (typeof jQuery === 'undefined') {
                // Carregar jQuery se ainda não estiver carregado
                var jqueryScript = document.createElement('script');
                jqueryScript.src = 'https://code.jquery.com/jquery-3.5.1.slim.min.js';
                jqueryScript.onload = function () {
                    // Após carregar jQuery, carregar Bootstrap
                    carregarBootstrap();
                };
                document.head.appendChild(jqueryScript);
            } else {
                // Se jQuery já estiver carregado, carregar diretamente Bootstrap
                carregarBootstrap();
            }

            function carregarBootstrap() {
                if (typeof $.fn.modal === 'undefined') {
                    // Carregar Bootstrap se o método modal não estiver definido
                    var bootstrapScript = document.createElement('script');
                    bootstrapScript.src = 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js';
                    document.head.appendChild(bootstrapScript);
                }
                // Aqui você pode abrir o modal
                $('#myModal').modal('show');
            }
        }
    </script>


    <!-- Renderização da Partial View -->
    @Html.Partial("Modal", new StudioSintoniaPreview.Models.PostModel())

    <br />
    <br />
    <br />
    <br />

    <div class="container ms-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 100%; max-width: 500px;">
                        <div class="capa-item">
                            <img src="~/arquivos/@item.Conteudo" class="card-img-top" alt="Capa do Post" style="width: 100%; height: auto;">
                        </div>
                        <div class="card-body">
                            <a asp-action="Edit" asp-route-id="@item.PostModelId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.PostModelId" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <style>
        .capa-container .capa-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
