<form action="/Imagens/UploadImagem" method="post" enctype="multipart/form-data">
    <label>Escolha seu arquivo</label>
    <input type="file" name="arquivo"
        <br />
        <button type="submit" class="btn btn btn-danger">Enviar arquivo</button>
</form>